{
    "fab4249b-f95d-411d-a017-7549df090a4f": 
    (
        cool_string: "thanks", 
        handle_made_from_path: "amethyst.png",
        handle_made_from_uuid: "36605880-e92e-4d87-818f-acc2ab236e9c"
    )
}